Django==1.5.4
MySQL-python==1.2.4
Pillow==2.2.1
South==0.8.2
amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.32
celery==3.0.23
celery-with-redis==3.0
django-celery==3.0.23
kombu==2.5.14
python-dateutil==2.1
pytz==2013d
redis==2.8.0
six==1.4.1
wsgiref==0.1.2
