@font-face{font-family:'iconic';src:url("../fuentes/iconic.eot");src:url("../fuentes/iconic.eot?#iefix") format('embedded-opentype'),url("../fuentes/iconic.woff") format('woff'),url("../fuentes/iconic.ttf") format('truetype'),url("../fuentes/iconic.svg#iconic") format('svg');font-weight:normal;font-style:normal}
[class*="icon-"]:before{font-family:'iconic';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-user:before{content:"\e000"}
.icon-at:before{content:"\e001"}
.icon-check:before{content:"\e002"}
*{margin:0}
body{background:#fff;font-family:'Open Sans',sans-serif;font-size:16px;font-weight:300}
.clearfix,.conferencias .header-conf:after{display:block;clear:both;content:""}
.imagen img{vertical-align:top}
.contenedor{max-width:960px;margin:0 auto}
.header{background:url("../images/cpheader.jpg") center;color:#fff;padding:30px 0 100px 0;position:relative;text-align:center;}
.header h1{font-size:58px;line-height:58px;margin-bottom:20px;}
.header h1 span{display:block;font-size:42px;font-weight:300;text-transform:uppercase}
.header .contenido{max-width:420px;margin:0 auto}
.header .texto{font-size:17px;font-weight:300}
.header .degradado{background:-webkit-gradient(linear, left top, left bottom, color-stop(0.65, rgba(255,255,255,0)), color-stop(0.99, #fff), color-stop(0.99, rgba(255,255,255,0)));background:-webkit-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:-moz-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:-o-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:-ms-linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);background:linear-gradient(top, rgba(255,255,255,0) 65%, #fff 99%, rgba(255,255,255,0) 99%);position:absolute;left:0;right:0;top:0;bottom:0}
.invitacion{margin:0 auto;margin-top:-50px;text-align:center;}
.invitacion form{display:inline-block}
.invitacion .titulo{color:#0c5e83;font-size:13px;font-weight:700;text-align:center;text-transform:uppercase}
.invitacion .contForm1{background:rgba(0,0,0,0.1);border-radius:30px;padding:10px;overflow:hidden}
.invitacion .name,.invitacion .mail{float:left;padding:5px 5px 5px 40px;position:relative;width:300px;}
.invitacion .name:before,.invitacion .mail:before{color:#a3c4d7;font-size:18px;left:15px;position:absolute;top:10px}
.invitacion .name{background:#1481bf;border-radius:20px 0 0 20px;}
.invitacion .name input{background:#1b85c1}
.invitacion .mail{background:#0d5f84;border-radius:0;}
.invitacion .mail:before{left:10px}
.invitacion .mail input{background:#1c6a8c}
.invitacion .submit{color:#fff;float:left;position:relative;width:50px;}
.invitacion .submit:before{color:#a3c4d7;font-size:18px;left:15px;position:absolute;top:10px}
.invitacion .submit input{background:#1277ad;border-radius:0 20px 20px 0;cursor:pointer;line-height:37px}
.invitacion input{border:none;box-sizing:border-box;color:#fff;font-size:17px;line-height:30px;outline:0;padding-left:10px;width:100%}
.invitacion input::-webkit-input-placeholder{color:#fff}
.lista-escenarios{position:relative;width:328px;display:inline-block;}
.lista-escenarios:nth-child(odd){margin-right:50px}
.escenarios{margin-top:50px;text-align:center;max-width:960px;margin:0 auto;}
.escenarios p{color:#898989;font-size:17px}
.escenarios .escenario{text-align:center;margin:10px;}
.escenarios .escenario .nombre{color:#0b64ad;font-size:20px;text-transform:uppercase}
.escenarios .escenario .imagen{margin:10px 0}
.escenarios .escenario .texto{margin-top:20px}
.escenarios .escenario .slogan{color:#1080c4;font-size:18px;font-style:italic;font-weight:300}
.escenarios .escenario .vermas{background:#fff;color:#1080c4;display:inline-block;font-size:15px;position:relative;text-decoration:none;padding:5px 15px;font-style:italic;}
.escenarios .escenario .vermas:after{border-bottom:1px solid #1080c4;content:"";left:100%;position:absolute;top:16.5px;display:block;width:50px}
.escenarios .escenario .vermas:before{border-bottom:1px solid #1080c4;content:"";right:100%;position:absolute;top:16.5px;display:block;width:50px}
.conferencias{background:#eaeaea;text-align:center;}
.conferencias .header-conf{margin-bottom:10px;}
.conferencias .conferencia{display:inline-block;font-style:italic;margin:20px;text-align:left;width:400px;}
.conferencias .conferencia .imagen{float:left}
.conferencias .conferencia .nombre{float:left;margin-left:15px;height:60px;position:relative;}
.conferencias .conferencia .nombre:after{display:block;content:"";height:2px;background:-webkit-gradient(linear, left top, right top, color-stop(0, #fedf4c), color-stop(0.55, #fedf4c), color-stop(0.55, #1174f6), color-stop(0.77, #1174f6), color-stop(0.77, #e92019));background:-webkit-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:-moz-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:-o-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:-ms-linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);background:linear-gradient(left, #fedf4c 0%, #fedf4c 55%, #1174f6 55%, #1174f6 77%, #e92019 77%);position:absolute;bottom:0;width:100%}
.conferencias .conferencia .nombre p{color:#1080c4}
.conferencias .conferencia .descripcion{font-size:16px;color:#898989}
