{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% get_static_prefix as STATIC_PREFIX %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1">
    <title>Bienvenido a Campus Party</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{STATIC_PREFIX}}css/landing.css"/>
</head>
<body>
    <header class="header">
        <div class="contenido">
            <h1 class="titulo">
                <strong>Campus Party</strong><span>Colombia/06</span>
            </h1>
            <p class="texto">
                EL Mayor festival tecnológico donde se unen innovación, creatividad, ciencia y entretenimiento digital. Nuestro objetivo es crear la mayor comunidad Geek de la tierra y difundir el conocimiento.
            </p>
        </div>
        <div class="degradado"></div>
    </header>
    <section class="contenedor">
        <section class="invitacion">
            <h2 class="titulo">
                Recibe toda la información
            </h2>
            <form action="{% url 'campus' %}" method="post" class="formulario">
                <div class="contForm1">
                    <div class="contForm2">
                        <div class="name icon-user">
                            <input type="text" id="id_name" name="name" required placeholder="Nombre">
                        </div>
                        <div class="mail icon-at">
                            <input type="text" id="id_name" name="email" required placeholder="Mail">
                        </div>
                        <div class="submit icon-check">
                            <input type="submit" value="enviar"/>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </section>

        <section class="escenarios">
            {% for scenario in scenarios %}
            <article class="escenario">
                <h2 class="nombre">
                    {{scenario.name}}
                </h2>
                <h3 class="slogan">
                    {{scenario.subtitle}}
                </h3>
                <div class="imagen">
                    <img src="{{MEDIA_PREFIX}}{{scenario.image}}" alt="{{scenario.name}}">
                </div>
                <div class="texto">
                    <p>
                        {{scenario.description}}
                    </p>
                </div>
                <a href="{% url 'speakers' scenario.name %}" class="vermas">
                    ver más
                </a>
            </article>
            
            {% endfor %}
        </section>

        
    <script src="{{STATIC_PREFIX}}js/jquery-2.0.3.min.js"></script>
    <script src="{{STATIC_PREFIX}}js/csrf_ajax.js"></script>
    <script src="{{STATIC_PREFIX}}js/landing.js"></script>
</body>
</html>