{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
{% get_static_prefix as STATIC_PREFIX %}

<section class="conferencias">
    {% for speaker in speakers %}

    <article class="conferencia">
        <div class="header-conf">
            <div class="imagen">
                <img src="{{MEDIA_PREFIX}}{{speaker.image}}" width="86" alt="{{speaker.name}}">
            </div>
            <div class="nombre">
                <p>{{speaker.name}}</p>
            </div>
        </div>
        <div class="descripcion">
            <p>
                {{speaker.description}}
            </p>
        </div>

    </article>
    {% endfor %}
</section>