<section class="conferencias">
    {% for speaker in speakers %}

    <div class="lista">
        <article class="conferencia">
            <div class="header-conf">
                <div class="imagen">
                    <img src="/static/images/avatar.jpg" alt="">
                </div>
                <div class="nombre">
                    <p>Crear una landing page profesional</p>
                </div>
            </div>
            <div class="descripcion">
                <p>
                    En el taller crearemos una aplicación completa, utilizando Python/Django en el servidor, donde usaremos Celery para los procesos asíncronos y South para la migración de modelos.
                </p>
            </div>

        </article>
    </div>
    {% endfor %}
</section>